.dots-container {
    display: flex;
    justify-content: end;
    align-items: center;
    /* margin-top: 10px; */
    /* position: absolute; */
    /* bottom: 10px; */
    /* right: 10px; */
}

.dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #FFD700;
    animation: bounce 0.6s infinite alternate;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px); /* Wysokość skoku */
    }
}
