.container {
  width: 100%;
}

.page {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  gap: 20px;
}

.one {
  display: flex;
  justify-content: flex-start;
  height: auto;
  width: 85%;
  margin-bottom: -60px;
}

.two {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  height: 100vh;
  width: 85%;
  margin-bottom: -60px;
}

.three {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 30px;
  height: auto;
  width: 85%;
  margin-bottom: 80px;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #FFD700;
}

::-webkit-scrollbar-thumb {
  background-color: #002e3d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #03506a;
}

.scrollable-element {
  scrollbar-width: thin;
  scrollbar-color: #002e3d #FFD700;
}